<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523089949962-ssq6l7f514vumvtadc5evst2qee0m6gt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523089949962-ssq6l7f514vumvtadc5evst2qee0m6gt</string>
	<key>API_KEY</key>
	<string>AIzaSyB4NUAPrZ5Pe3iZ7qtwCjZNr0-sNUOXBTE</string>
	<key>GCM_SENDER_ID</key>
	<string>523089949962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.fitnessApp</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-fd850</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-fd850.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523089949962:ios:533e1cecb5a99af44776f3</string>
	<key>DATABASE_URL</key>
	<string>https://fitnessapp-fd850.firebaseio.com</string>
</dict>
</plist>